<%= render 'shared/page_title', title: 'Create a new Recipe' %>

<% if @recipe.errors.any? %>
  <div class="row">
    <div class="col-md-8 offset-md-2 alert alert-danger" role="alert">
      <strong>
        <%= pluralize(@recipe.errors.count, "error") %>
        prohibited this <%= @recipe.class %> from being saved:
      </strong>
      </ br>
      <ul>
        <% @recipe.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  </div>
<% end %>

<div class="row">
  <div class="col-md-12">
    <%= simple_form_for @recipe, html: { class: 'form-horizontal' }, wrapper: :horizontal_form do |f| %>
      <%= f.input :name, placeholder: 'Name of recipe', autofocus: true, label_html: { class: 'col-md-2 col-form-label' }, input_html: { class: 'col-md-10 form-control' }, wrapper_html: { class: 'row' } %>
      <%= f.input :description, placeholder: 'Enter steps to create recipe', label_html: { class: 'col-md-2 col-form-label' }, input_html: { class: 'col-md-10 form-control', rows: 10 }, wrapper_html: { class: 'row' } %>
      
      <div class="form-group row">
        <div class="offset-md-2 col-md-8 pl-0">
          <%= f.button :submit, class: 'btn btn-success mr-4' %>
          [ <%= link_to 'Cancel request and return to recipes listing', recipes_path %> ]
        </div>
      </div>
      
    <% end %>  
  </div>
</div>
