<%= render 'shared/page_title', title: @recipe.name.capitalize %>

<div class="well col-md-8 offset-md-2">
  <h4 class="center description"><strong>Steps:</strong></h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <% if @recipe.ingredients.any? %>
    <p>Ingredients: <%= render @recipe.ingredients %></p>
  <% end %>
  <p class="center">
    <%= link_to gravatar_for(@recipe.chef), chef_path(@recipe.chef) %>
  </p>
  <p class="center"><small>Created by: <%= @recipe.chef.chefname %> (<%= time_ago_in_words(@recipe.created_at) %> ago)</small></p>
  <div class="recipe-actions">
    <% if logged_in? && (current_chef == @recipe.chef || current_chef.admin?) %>
      <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete, 
                                                         data: { confirm: 'Are you sure you want to delete this recipe?' },
                                                         class: 'btn btn-sm btn-danger' %>
    <% end %>
    <%= link_to 'Return to Recipes list', recipes_path, class: 'btn btn-sm btn-primary' %>
    <div class="liking float-right mr-2">
      <%= link_to like_recipe_path(@recipe, like: true), method: :post, class: 'mr-2' do %>
        <%= fa_icon "thumbs-o-up" %>
      <% end %> 
      <%= @recipe.thumbs_up_total %> ||
      <%= link_to like_recipe_path(@recipe, like: false), method: :post, class: 'ml-2' do %>
        <%= fa_icon "thumbs-o-down" %>
      <% end %>
      <%= @recipe.thumbs_down_total %>
    </div>
  </div>
</div>

<% if logged_in? %>
  <%= render 'comments/form', recipe: @recipe, comment: @comment %>
<% end %>

<div class="row">
  <div class="col-md-8 offset-md-2">
    <div id="messages">
      <h3>Previous comments:</h3>
      <% if @recipe.comments.count != 0 %>
        <%= render partial: 'comments/comments', object: @comments %>
      <% else %>
        <h3 id="no_comments">No comments yet!</h3>        
      <% end %>
    </div>
  </div>
</div>