<%= render 'shared/page_title', title: @recipe.name.capitalize %>

<div class="well col-md-8 offset-md-2">
  <h4 class="center description"><strong>Steps:</strong></h4>
  <hr />
  <%= simple_format(@recipe.description) %>
  <hr />
  <p class="center">
    <%= link_to gravatar_for(@recipe.chef), recipes_path %>
  </p>
  <p class="center"><small>Created by: <%= @recipe.chef.chefname %> (<%= time_ago_in_words(@recipe.created_at) %> ago)</small></p>
  <div class="recipe-actions">
    <% if logged_in? && current_chef == @recipe.chef %>
      <%= link_to 'Edit Recipe', edit_recipe_path(@recipe), class: 'btn btn-sm btn-warning' %>
      <%= link_to 'Delete Recipe', recipe_path(@recipe), method: :delete, 
                                                         data: { confirm: 'Are you sure you want to delete this recipe?' },
                                                         class: 'btn btn-sm btn-danger' %>
    <% end %>
    <%= link_to 'Return to Recipes list', recipes_path, class: 'btn btn-sm btn-primary' %>
  </div>
</div>